<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset ="UTF-8">
    <title>Weather App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>   
<body>
    <div class="container">
        <h1>🌦️Weather App</h1>
        <form method="POST">
            <input type="text" name="city" placeholder="enter city name" required>
            <button type="submit">Get Weather</button>
        
        </form>
    
         {% if weather %}
            {% if weather.error %}
                <p class="error">{{ weather.error }} </p>
            {% else %}
                <div class="result">
                    <h2>{{ weather.city }}</h2>
                    <p>🌡️ Temperature: {{ weather.temp }} °C </p>
                    <p>☁️ Condition: {{ weather.condition }}</p>
                    <p>💧 Humidity: {{ weather.humidity }}%</p>
                </div>
            {% endif %}
        {% endif %}
    </div>
</body>
</html>