<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset ="UTF-8">
    <title>Weather App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>   
<body>
    <div class="container">
        <h1>🌦️Weather App</h1>
        <form method="POST">
            <input type="text" name="city" placeholder="Enter city name" required>
            <button type="submit">Get Weather</button>
        
        </form>
    
         {% if weather %}
            {% if weather.error %}
                <p class="error">{{ weather.error }} </p>
            {% else %}
                <div class="result">
                    <h2>{{ weather.city }}</h2>
                    <table>
                        <tr>
                            <td class="result-value condition">☁☁️ <br>{{ weather.condition }} </td>
                            <td class="result-value temp"> 🌡️{{ weather.temp }} °C </td>
                            <td class="result-value"> 💧{{ weather.humidity }}%</td>
                        </tr>     
                        <tr>
                            <td class="result-text">  Condition</td>
                            <td class="result-text"> Temperature </td>
                            <td class="result-text"> Humidity</td>
                        </tr>                    
                    </table>
                </div>
            {% endif %}
        {% endif %}
    </div>
</body>
</html>
